.receita__botao{
    align-items: center;
    background-color: var(--cor-red);
    border: none;
    border-radius: 5px;
    color: var(--cor-white);
    display: flex;
    height: 2.313rem;
    padding: 1rem; 
    transition: all .1s ease-in-out;  
    width: 7.188rem;
}

.receita__botao:hover{
    background: var(--cor-red-escuro);
    cursor: pointer;
}