.banner__titulo{
    font-family: var(--font-pacifico);
    font-size: 5.063rem;
    font-style: normal;
    font-weight: normal;
    line-height: 8.875rem;
    text-align: center;
    left: 50%;
    top: 50%;
    position: absolute;
    color: var(--color-white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
    transform: translate(-50%, -50%);
    width: 100%;
}