.banner__img{
    position:relative;    
    width: 100%;
}

@media screen and (min-width: 0){
    .banner__img{
        height: calc(100vh-51px);
    }
}

@media screen and (min-width: 768px){
    .banner__img{
        height: calc(100vh-72px);
    }
}