@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --font-pacifico: 'Pacifico', cursive;
    --font-roboto: 'Roboto', cursive;
}

:root{
    --cor-white: #fdfdfd;
    --cor-white2: #f9f9f9;
    --cor-cinza-medio: #333333;
    --cor-cinza: #8C8888;
    --cor-cinza-clarinho: #808080;
    --cor-cinza-claro: #E5E5E5;
    --cor-red: #8D0606;
    --cor-red-escuro: #620404;
}