@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --font-pacifico: 'Pacifico', cursive;
    --font-roboto: 'Roboto', cursive;
}

:root{
    --color-white: #fdfdfd;
    --color-red: #8D0606;
    --cor-cinza: #8C8888;
}