/* @media screen and (min-width: 768px) {
    .chamada__texto{
        max-width: 600px;
    }
} */

/* @media screen and (min-width: 768px) {
    .cartao {
        max-width: 400px;
    }
} */

/* @media screen and (min-width: 768px) {
    .institucional__contato-email {
        display: inline-block;
    }

    .institucional__video{
        width: 100%;
    }
} */