.menu__link{
    color: var(--cor-cinza-clarinho);
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
}

.menu__link.ativo{
    color: var(--cor-cinza-medio);
    font-weight: bold;
}

.menu__link:hover{
    text-decoration: underline;
}